extends layout


block content
    .w3-card-4
      header.w3-container.w3-teal
        h3.w3-left Student Register
      body
        form(action='/students', method='POST')
          p
            p #[b Number:]
            input(type='text', name='numero', value='')
            p #[b Name:]
            input(type='text', name='nome', value='')
            p #[b Git:] 
            input(type='text', name='git', value='')
            p #[b Completed HW:]
            - var c = 1
              while c < 9
                input(type='checkbox', name='Hw' + c, value='')
                | HW #{c}!{' | '}
                - c++
            br
            br
            input(type='submit', value='Submit')
      footer.w3-container.w3-teal
        address Gerado por dawApp :: 2020-Nov
        a(href='/students') Home Page


